Mangle!_210.png	 PNG "Mangle!_210.png"MonoStereoSwitch_50x137.png	 PNG "MonoStereoSwitch_50x137.png"Sheer_210.png	 PNG "Sheer_210.png"Swell_280.png	 PNG "Swell_280.png"bigredswitch_200x219.5 .png	 PNG "bigredswitch_200x219.5 .png"shell\shell1.png	 PNG "shell\shell1.png"shell\shell2.png	 PNG "shell\shell2.png"